  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    
    <button  mat-menu-item routerLink="home">
      <mat-icon fontIcon="roofing"></mat-icon>
      <span>Home</span>
    </button>

    <button mat-menu-item routerLink="newTrip">
      <mat-icon  fontIcon="add_shopping_cart"></mat-icon>
      <span>New Trip</span>
    </button>

    <button mat-menu-item routerLink="receiptItemEntry">
      <mat-icon fontIcon="receipt_long" ></mat-icon>
      <span>Enter Receipt</span>
    </button>

  </mat-menu>


  <span id='menuTitle'>Grocery Management</span>