
<!-- <div id="store-selections-wrapper"> -->

    <!-- Select existing store or TODO: new -->
    <div id="store-select-section" class="storeSelectionsSection">
        <mat-form-field id="store-select-dropdown-form">
            <mat-label>Select Store</mat-label>
    
            <mat-select>
              <!-- Select existing store from recently visited -->
              <mat-option  value="selectedStore.storeBrand" *ngFor="let groceryStore of recentlyVisitedStores"> {{ groceryStore.storeBrand }}</mat-option>
              <!-- Create new store -->
              <mat-option  value="selectedStore.storeBrand" > 
                    <button class="addOptionOnBottom" (click)="openNewStoreDialog()" *ngIf="!showProvidedStoreBrand">
                        {{ selectedStore.storeBrand }} 
                        <mat-icon>add</mat-icon>
                        <span>New Store</span>
                    </button>
                  
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <!-- Add receipt file for trip TODO: test & implement in TypeScript-->
    <div id="img-upload-section"  class="store-selections-section">
        <input type="file" class="file-input"
            (change)="receiptFileSelected($event)" #fileUpload>
        
            {{receiptFileName || "Upload Receipt"}}
        
            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        </button>
    </div>


    <!-- Add trip date TODO: implement -->
    <div id="trip-date-section"  class="store-selections-section">
        <mat-form-field>
            <mat-label>When was the trip?</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>


    <!-- Add trip total $ TODO: implement  -->
    <div id="trip-total-section"  class="store-selections-section">
        <mat-form-field>
            <mat-label>Trip Total</mat-label>
            <input matInput placeholder="Trip Total" value="{{ tripTotal }}">
        </mat-form-field>
    </div>


    <!-- Add meals TODO: implement -->
    <div id="add-meals-section">
        <mat-form-field>
            <mat-label>Add Meal</mat-label>
            <input matInput placeholder="Search for meal to add" value="{{ mealQuery }}">
        </mat-form-field>
        <div id="selected-meals-section">
            <!-- TODO: implement-->
        </div>
    </div>

    

    <!-- Proceed to add receipt -->
    <div id="proceed-to-receipt-section">
        Proceed to trip item entry
        <button mat-fab color="primary">
            <mat-icon>receipt_long</mat-icon>
        </button>
    </div>

    
<!-- </div> -->
